/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',
    sans-serif;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: 'Open Sans',
    sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #dcfff6;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #00adfd;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
    border-radius: 5px;
}

button:hover {
    background:#00adfd;
}

button:disabled {
    cursor: default;
    background: #2d2b3194;
}

/* Join Page Styles */

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: rgb(209, 209, 209);
    padding: 24px;
    width: 250px;
    border-radius: 5px;
    text-align: center;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
    border-radius: 5px;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 225px;
    overflow-y: scroll
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
    color: rgb(92, 88, 88);
    background-image: url('../img/chat-bg.jpg');
}

/* Message Styles */

.message {
    margin-bottom: 16px;
    background-color: rgb(209, 209, 209);
    width:450px;
    border-radius: 5px;
    justify-content: center;
    /* height: 50px; */
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
    color: #0070CC;
    margin-left: 10px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.msg{
    margin-left: 10px;
    /* height:3rem; */
    width: 400px;
    word-wrap: break-word;
    padding-bottom: 0.5rem;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
    background-color:rgb(209, 209, 209);
    border-radius: 5px;
}

.compose button {
    font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 650;
    font-size: 29px;
    background: #2c2f3a;
    padding: 24px;   
}

.list-title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}
